aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
charset-normalizer==2.0.9
frozenlist==1.2.0
idna==3.3
lxml==4.6.4
multidict==5.2.0
soupsieve==2.3.1
typing-extensions==4.0.1
yarl==1.7.2
